.page-title {
  color: white;
  font-family: 'bebas neue';
  font-size: 2em;
}

.home-card{
  background-color: #252323;
  border-radius: 10px;
  margin-top: 10px;
  width:80%;
}

.image-description {
  display: flex;
  padding: 16px;
  margin: 16px;
  justify-content: space-around;
  align-items: center;
}

.description {
  font-family: 'roboto', sans-serif;
  color: white;
  margin: 50px;
}
